.login_loginTitle{
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
.login_inputStyle{
    margin-top: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 14px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 14px 15px -9px rgba(0,0,0,0.75);
}
.login_buttons{
    margin: 5px;
    font-weight: bolder;
    -webkit-box-shadow: 10px 14px 15px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 14px 15px -9px rgba(0,0,0,0.75);
    box-shadow: 10px 14px 15px -9px rgba(0,0,0,0.75);
}