<div class="container">
    <!-- Image User -->
    <div class="row justify-content-center">
        <div class="col-6 col-sm-4 col-md-3">
            <div class="avatarFrame avatarFrame_offline">
                <img class="login_avatarImage img-fluid" src="../../../assets/img/generic_avatar.png" alt="">
            </div>
        </div>
    </div>
    
    <!-- Title -->
    <div class="login_loginTitle">
        <p *ngIf="operation =='login'">Log In</p>
        <p *ngIf="operation =='signup'">Sign Up</p>
    </div>

    <!-- Inputs -->
    <div class="row justify-content-center">
        <div class="col-8 col-sm-6 col-md-6">
            <input class="login_inputStyle form-control" type="email" placeholder="Email">
            <input class="login_inputStyle form-control" type="email" placeholder="password">
            <input *ngIf="operation == 'signup'" class="login_inputStyle form-control" type="email" placeholder="NickName">
        </div>
    </div>

    <!-- Buttons -->
    <div class="row justify-content-center">
        <div class="col-8 col-sm-6 col-md-6">
            <div class="row justify-content-center">
                <button class="col-10 col-sm-10 col-md-5 login_buttons btn btn-primary" (click)="operation='login'">Log-In</button>
                <button class="col-10 col-sm-10 col-md-5 login_buttons btn btn-primary" (click)="operation='signup'">Sign-Up</button>
            </div>
        </div>
    </div>
</div>
