<br><br>
<div class="container">

    <!-- header -->
    <div class="row justify-content-center">
        
        <!-- profile image -->
        <div class="profile_imageContainer col-12 col-md-4">
            <div class="profile_header">
                <div class="avatarFrame_busy">
                    <img class="profile_avatarImage" src="../../../assets/img/generic_avatar.png" alt="">
                </div>
                <br>
                <div>
                    <button class="btn btn-block btn-primary">Image</button>
                </div>
            </div>
        </div>

        <!-- information -->
        <div class="col-12 col-md-8">
            <label class="profile_label" for="" fixed>Nick Name</label>
            <input class="form-control" type="text" placeholder="--">
            <label class="profile_label" for="" fixed>Sub Nick</label>
            <input class="form-control" type="text" placeholder="--">
            <label class="profile_label" for="" fixed>Email</label>
            <input class="form-control" type="email" placeholder="--">
            <label class="profile_label" for="" fixed>Status</label>
            <div>
                <select class="form-control" name="" id="">
                    <option value="Online">Online</option>
                    <option value="Busy">Busy</option>
                    <option value="Away">Away</option>
                    <option value="Offline">Offline</option>
                </select>
            </div>
            <br>
            <button class="btn btn-block btn-primary">Save</button>
            
        </div>
    </div>

</div>