<br><br>
<div class="container" *ngIf="user">
    <!-- header -->
    <div class="row justify-content-center">
        
        <!-- profile image -->
        <div class="profile_imageContainer col-12 col-md-4" >
            <div class="profile_header">
                <div class="profile_image_box avatarFrame_{{user.status}}">
                    <img class="profile_avatarImage" [src]="croppedImage || user.avatar || '../../../assets/img/generic_avatar.png'">
                </div>
                <br>
                <div>
                    <label for="file-upload" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Change Image
                    </label>
                    <input id="file-upload" type="file" (change)="fileChangeEvent($event)"/>
                </div>
            </div>
        </div>
        <ngb-alert class="alert_elementToFadeInAndOut" *ngIf="successMessage" type="success" (close)="successMessage = null" style="position: absolute;">{{ successMessage }}</ngb-alert>
        <!-- information -->
        <div class="col-12 col-md-8" *ngIf="user">                    
            <image-cropper
                [imageChangedEvent]="imageChangedEvent"
                [maintainAspectRatio]="true"
                [aspectRatio]="1/1"
                [resizeToWidth]="128"
                format="png"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
            <label class="profile_label" for="" fixed>Nick Name</label>
            <input [(ngModel)]="user.nick" class="form-control" type="text" placeholder="--">
            <label class="profile_label" for="" fixed>Sub Nick</label>
            <input [(ngModel)]="user.subnick" class="form-control" type="text" placeholder="--">
            <label class="profile_label" for="" fixed>Email</label>
            <input [(ngModel)]="user.email" class="form-control" type="email" placeholder="--">
            <label class="profile_label" for="" fixed>Status</label>
            <div>
                <select [(ngModel)]="user.status" class="form-control" name="" id="">
                    <option value="Online">Online</option>
                    <option value="Busy">Busy</option>
                    <option value="Away">Away</option>
                    <option value="Offline">Offline</option>
                </select>
            </div>
            <br>
            <button (click)="saveSettings()" class="btn btn-block btn-primary">Save</button>
            <br><br><br>
            
        </div>
    </div>
    
</div>