<br><br>
<div class="container">

    <!-- header -->
    <div class="row" *ngIf="user">
        <div class="col-12">
            <div class="home_header">
                <!-- image -->
                <div class="home_imageContainer avatarFrame_{{user.status}}">
                    <img class="home_avatarImage" src="../../../assets/img/generic_avatar.png" alt="">
                </div>
                <!-- information -->
                <div>
                    <h2 class="home_information">{{user.nick}}  <small class="" (click)="logout()">Logout</small></h2>
                    <h4 class="home_information">{{user.status}}</h4>
                    <h4 class="home_information">-- Write a message --</h4>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- find friend input -->
    <div class="row">
        <div class="home_findFriendInputContainer col-10">
            <input class="home_inputStyle form-control" type="email" placeholder="Find friend"  [(ngModel)]="query">
            <img class="home_findFriendIcon"   src="../../../assets/img/logo_live_add.png" alt="">
        </div>
    </div>

    <!-- friends -->
    <div class="row">
        <div class="col-10">
            <br>
            <b *ngIf="friends">Amigos ({{friends.length}} / {{friends.length}}) </b>
            <div *ngFor="let user of friends | search:query; let i = index">
                <p>{{user.email}}</p>
                <div class="home_friendsContainer">
                    <span><img class="home_statusIcon" src="../../../assets/img/logo_live_{{user.status}}.png" alt=""></span>
                    <span><a routerLink="/conversation/{{user.id}}"> {{user.nick}}  - {{user.subnick || 'No subnick'}}  <small>{{user.email}}</small></a></span>
                </div>
            </div>
        </div>
    </div>
</div>
    
