<br><br>
<div class="container">

    <!-- header -->
    <div class="row" *ngIf="user">
        <div class="col-12">
            <div class="home_header">
                <!-- image -->
                <div class="home_imageContainer avatarFrame_{{user.status}}">
                    <img class="home_avatarImage" [src]="user.avatar || '../../../assets/img/generic_avatar.png'" alt="">
                </div>
                <!-- information -->
                <div>
                    <h2 class="home_information">{{user.nick}}</h2>
                    <h4 class="home_information">{{user.status}}</h4>
                    <button class="home_button_logout btn btn-danger" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- find friend input -->
    <div class="row">
        <div class="home_findFriendInputContainer col-10">
            <input class="home_inputStyle form-control" type="email" placeholder="Find friend"  [(ngModel)]="query">
            <img class="home_findFriendIcon"   src="../../../assets/img/logo_live_add.png" alt="">
        </div>
    </div>

    <!-- friends -->
    <div class="row">
        <div class="col-10">
            <br>
            <div>
                <b *ngIf="friends">Amigos ({{friends.length -1 }} / {{friends.length - 1}}) </b>
            </div>
            <hr>
            <div *ngFor="let friend of friends | search:query; let i = index">
                <div class="home_friendsContainer" *ngIf="friend.id != user.id" routerLink="/conversation/{{friend.id}}" style="display:flex; height: 50px; border-bottom: solid 1px lightgray;">
                    <div>
                        <img class="home_statusIcon" src="../../../assets/img/logo_live_{{friend.status}}.png" alt="" style="height: 25px; margin-top: 10px;">
                    </div>  
                    <div>
                        <p><b>{{friend.nick || 'No nick'}}</b></p> <br>
                        <p style="margin-top: -45px; margin-bottom: -10px;">{{friend.email}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <ngb-alert class="alert_elementToFadeInAndOut" *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
    <p>
        <button class="btn btn-primary" (click)="changeSuccessMessage()">Change message</button>
    </p>
</div>
    
